@model Review
    
<!-- breadcrumb partial -->

<div class="card rounded shadow p-4">
    <!-- Title bar -->
    <div class="border-bottom d-flex align-items-center justify-content-between mb-3">
        <h3 class="text-black">Delete Review for @Model.Movie.Title</h3>
    </div>

    <h5 class="my-3 text-danger">Are you sure?</h5>

    <!-- display the review using a <dl> as per Details.cshtml -->   
    <dl class="row mt-3">       
        <dt class="col-5">Comment</dt>
        <dd class="col-7">@Model.Statement</dd>
        
        <dt class="col-5">Created</dt>
        <dd class="col-7">@Model.CreatedOn.ToShortDateString()</dd>
        
        <dt class="col-5">Rating</dt>
        <dd class="col-7">@Model.Rating</dd>           
    </dl>   

    <div class="mt-4">
        <!-- use a form with hidden input storing review id and movieId -->
        <form asp-action="ReviewDeleteConfirm" type="post">   
            <!-- hide non-editable values -->
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="MovieId"/>

            <button type="submit" class="btn buttondelete" aria-label="confirm">Confirm</button>
            <a class="btn" asp-action="Details" asp-route-id="@Model.Movie.Id" aria-label="cancel" >Cancel</a>
        </form>
    </div>
    
</div>